body {
  background-color: #1f1f1f;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
  overflow-y: scroll;
  max-height: 100%;
}

#body {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 20px;
  right: 10px;
  width: 300px;
  text-align: right;
}

#footer {
  top: 520px;
  right: 10px;
  width: 300px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

g.node {
  width: 100px;
  overflow: none;
}

.string, .regexp {
  color: #bbb;
}

.keyword {
  color: #bbb;
}

.comment {
  color: #bbb;
}

.number {
  color: #bbb;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  /*width: 1280px;*/
  font-size: 12px;
  color: #bbb;
}

.node circle {
  cursor: pointer;
  fill: #fbfbfb;
  stroke: steelblue;
  stroke-width: 0px;
  display: none;
}

text {
  font-size: 18px;
  fill: #fff;
  margin: -100%;
  viewport-fill: #000000;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  max-width: 100px;
  overflow: hidden;
}

